@use "../utilities/mixins";
@use "../utilities/variables";

// BOTONES
.boton-vermas-container {
    @include mixins.flex(row, center, center);
    width: 100%;

    .boton-vermas {
        display: inline-block;
        text-decoration: none;
        background-color: transparent;
        color: variables.$color-texto-principal;
        border: 2px solid variables.$color-texto-principal;
        border-radius: 40px;
        padding: 15px 60px;
        margin: 30px 0px;
        font-weight: 600;

        &:hover {
            background-color: variables.$color-primario;
            border-color: variables.$color-primario;
            color: variables.$color-fondo-principal;
            transition: background-color 0.3s ease;
        }
    }
}