@use "../utilities/mixins";
@use "../utilities/variables";

// SIDEBAR HEADER
.sidebar {
    @include mixins.flex(column, flex-start, stretch);
    background-color: variables.$color-fondo-secundario;
    min-height: 100vh;
    padding: 35px 20px;

    .container-titulos {
        text-align: center ;
    }
    .sidebar-logo {
        display: block; 
        margin: 0 auto 20px auto;
        margin-bottom:  50px;
    }
    .sidebar-titulo {
        font-family: variables.$font-stack;
        color: variables.$color-texto-resaltado;
        text-align: center;
        font-size: 27px;     
        margin-bottom: 5px;
        margin-top: 15px;
    }
    .sidebar-subtitulo {
        font-family: variables.$font-stack;
        color: variables.$color-texto-principal;
        font-size: 17px;
        font-style: italic;
        margin-bottom: 20px;
    }
    .sidebar-descripcion {
        font-family: variables.$font-stack;
        color: variables.$color-texto-principal;
        font-size: 15px;

    }

}