// VARIABLES

//PALETA DE COLORES
$color-primario: #ff0660;
$color-fondo-principal: #ffffff;
$color-fondo-secundario: #f9f9f9;

//TIPOGRAFIA COLORES
$color-texto-principal: #494949;
$color-texto-secundario: #999999;
$color-texto-resaltado: #000000;
$color-items-suave: #8d8d8d;

//TIPOGRAFIA FUENTES
$font-stack: 'poppins', sans-serif;