/* propiedad: valor */
/* fuente Poppins*/
@import url("https://use.typekit.net/kaz3vre.css");
/* font-family: 'poppins', sans-serif; */

/*RESET CSS*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', sans-serif;    
}

/*GRID CONTAINER*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "header main"
        "header main";
    height: 100vh;
}
/*FIN GRID CONTAINER*/

/*SIDEBAR*/
header {
    grid-area: header;
    display: grid
    flex-direction: column;
    align-items: center;
    padding: 40px 40px 40px 30px;
    max-width: 300px;
    justify-content: space-around;
    height: 100%;
}
.header-arriba img {
    margin-bottom: 30px;
}
.header-p {
    color: #494949;
    font-size: 15px;
}

/*NAV CSS*/
nav ul {
    list-style: none;
    margin-top: 70px;
    margin-bottom: 80px;
}
nav ul li {
    margin-bottom: 15px;
}

.a-nav,
.a-nav:link,
.a-nav:visited,
.a-nav:hover,
.a-nav:active,
.a-nav-active {
    text-decoration: none;
    color: #494949;
    font-weight: 600;
}
.a-nav:hover {
    color: #000;
}
.a-nav-active {
    color: #ff0660;
    font-weight: 700;
}
/*FIN NAV CSS*/

/*FOOTER CSS*/
footer {
    margin-top: 40px;
}
.footer-p {
    color: #999999;
    font-size: 14px;
    font-weight: 600;
}
/*FIN FOOTER CSS*/

/*MAIN CSS*/
main {
    grid-area: main;
    padding: 40px 50px;
}

.grid-proyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: flex-start;
}
.grid-proyectos img {
    width: 100%;
    height: auto;
}
.main-abajo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
/*FIN MAIN CSS*/

/*BOTONES*/
.boton-portfolio,
.boton-portfolio:link,
.boton-portfolio:visited,
.boton-portfolio:hover,
.boton-portfolio:active,
.boton-portfolio {
    text-decoration: none;
    background-color: transparent;
    color: #494949;
    padding: 15px 60px;
    border: solid 2px #494949;
    border-radius: 40px;
    font-weight: 600;
}
.boton-portfolio:hover {
    background-color: #ff0660;
    color: #fff;
    border: none
}
/*FIN BOTONES*/

/*TITULOS CSS*/
h1 {
    color: #3f3f3f;
    font-size: 22px;
    margin-bottom: 10px;
}
h2 {
    color: #3f3f3f;
    font-size: 40px;
}
/*FIN TITULOS CSS*/

/*LISTAS CSS*/ 
li {
    list-style: none;
    color: #494949;
}
/*FIN LISTAS CSS*/

/* ---- MEDIA QUERIES ---- */

/*tablet*/
@media (min-width: 600px) and (max-width: 900px) {
    .grid-container {
        grid-template-columns: 250px 1fr;
    }
    .grid-proyectos {
        grid-template-columns: repeat(2, 1fr);
    }
    h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .header-p {
        color: #494949;
        font-size: 12px;
    }
    nav ul {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    nav ul li {
        margin-bottom: 10px;
    }
}

/*intermedio*/
@media (min-width: 431px) and (max-width: 599px) {
    .grid-container {
        grid-template-columns: 250px 1fr;
    }
    .grid-proyectos {
        grid-template-columns: repeat(1, 1fr);
    }
    h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    nav ul {
        margin-top: 10px;
        margin-bottom: 20px;
        justify-items: center;
    }
    nav ul li {
        margin-bottom: 10px;
    }
}

/*celulares*/
@media (max-width: 430px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "main";
        height: auto;
    }

    header {
        max-width: 100%;
        padding: 20px;
    }

    main {
        padding: 20px;
    }

    .grid-proyectos {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    nav ul {
        margin-top: 30px;
        margin-bottom: 50px;
        justify-items: center;
    }
    nav ul li {
        margin-bottom: 15px;
    }


}