/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
/* ------ FUENTE POPPINS ------ */
@import url("https://use.typekit.net/kaz3vre.css");

/* ------ RESET CSS ------ */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', sans-serif;
    color: #494949;
}


/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
/* ------ SIDEBAR ------ */
.sidebar {
    background-color: #f9f9f9;
    min-height: 100vh;
    padding: 35px 20px;    
}

.sidebar-titulo {
    color: #3f3f3f;
    font-size: 36px;
    margin-bottom: 5px;
}

.sidebar-subtitulo {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 30px;
}

.sidebar-descripcion {
    font-size: 16px;
    color: #494949;
}

.mobile-header {
    background-color: #f9f9f9
    align-items: center;
}


/* ------ NAV ------ */
.navbar-desktop {
    padding-top: 30px;
}


/* ------ NAV LINKS ------ */
.nav-link {
    color: #494949;
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover {
    color: #000;
}

.active-link {
    color: #ff0660;
    font-weight: 700;
}



/* ------ FOOTER ------ */

.mobile-footer {
    text-align: center;
    padding: 10px 10px;
}

.footer-texto {
    color: #999;
    font-size: 14px;
    font-weight: 600;
}




/* ------ BOTÓN VER MÁS ------ */
.boton-vermas {
    text-decoration: none;
    background-color: transparent;
    color: #494949;
    padding: 15px 60px;
    border: 2px solid #494949;
    border-radius: 40px;
    font-weight: 600;
    display: inline-block;
}

.boton-vermas:hover {
    background-color: #ff0660;
    color: #fff;
    border-color: #ff0660;
}



/* ------ IMÁGENES DE PROYECTOS ------ */
img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}
