/* propiedad: valor */
/* fuente Poppins*/
@import url("https://use.typekit.net/kaz3vre.css");
/* font-family: 'poppins', sans-serif; */

/*RESET CSS*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', sans-serif;    
}
